/* Estilos botón next y prev del slider */
.o-prev-btn {

    position: absolute;
    right: 102%;
    top: 40%;
    z-index: 1;
}
.o-next-btn {

    position: absolute;
    left: 102%;
    top: 40%;
    z-index: 1;
}

.player-wrapper {
    position: relative;
    padding-top: 56.25% /* Player ratio: 100 / (1280 / 720) */
  }
   
  .react-player {
    position: absolute;
    top: 0;
    left: 0;
  }