.text-recovery-pass {
  font-family: "Avenir Next Rounded Pro Medium";
  letter-spacing: 0px;
  font-size: 12px;
  color: #0e195a;
  text-decoration: underline;
}
.text-recovery-pas:hover {
  color: hotpink;
}
