.o-prueba-box {

  width: 15em;
  height: 9rem;
  background-color: violet;
  margin-bottom: 2rem;
}
.o-column-card {
  
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;

  -webkit-animation: fadeInDown 2s 1; /* Safari 4+ */
  -moz-animation: fadeInDown 2s 1; /* Fx 5+ */
  -o-animation: fadeInDown 2s 1; /* Opera 12+ */
  animation: fadeInDown 2s 1; /* IE 10+, Fx 29+ */
}

/*----  Main Style  ----*/
#cards_landscape_wrap-2{
    text-align: center;
    /* background-color: rgb(255, 255, 255); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background: #F7F7F7; */
  }
    #container-card{
    padding-top: 80px; 
    padding-bottom: 100px;
  }
  .o-container-cards-menu button{
    /* text-decoration: none; */
    outline: none;
  }
  .o-container-cards-menu .card-flyer {
    border-radius: 5px;
    width: 15rem;
  }
  .o-container-cards-menu .card-flyer .image-box{
    background: transparent;
    overflow: hidden;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.50);
    border-radius: 5px;
  }
  .o-layer-card {

    background: transparent;
    height: 200px;
    width: 15rem;
    z-index: 1000;
    border-radius: 5px;
  }
  .o-container-cards-menu .card-flyer .image-box div{
    -webkit-transition:all .9s ease; 
    -moz-transition:all .9s ease; 
    -o-transition:all .9s ease;
    -ms-transition:all .9s ease; 
    width: 100%;
    height: 200px;
  }
  .image-box {

    width: 100%;
    height: 200px;
  }
  .o-icon-card-home {

    width: 60%;
    margin-top: 1.5rem;
  }
  .o-container-cards-menu .card-flyer:hover .image-box img{
    opacity: 0.7;
    -webkit-transform:scale(1.15);
    -moz-transform:scale(1.15);
    -ms-transform:scale(1.15);
    -o-transform:scale(1.15);
    transform:scale(1.15);
  }
  .o-container-cards-menu .card-flyer .text-box{
    text-align: center;
  }
  .o-container-cards-menu .card-flyer .text-box .text-container{
    padding: 30px 18px;
  }
  .o-container-cards-menu .card-flyer{
    background: #291f8581;
    margin-top: 50px;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.40);
  }
  .o-container-cards-menu .card-flyer:hover{
    background: #8f66c5d0;
    box-shadow: 0px 15px 26px rgba(0, 0, 0, 0.50);
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    margin-top: 50px;
  }
  .o-container-cards-menu .card-flyer .text-box p{
    margin-top: 10px;
    margin-bottom: 0px;
    padding-bottom: 0px; 
    font-size: 14px;
    letter-spacing: 1px;
    color: #000000;
  }
  .o-container-cards-menu .card-flyer .text-box h6{
    margin-top: 0px;
    margin-bottom: 4px; 
    font-size: 18px;
    /* font-weight: bold; */
    /* text-transform: uppercase; */
    /* font-family: 'Roboto Black', sans-serif; */
    letter-spacing: 1px;
    color: #ffffff;
  }

.o-btn-card-home {

    background: transparent;
    outline: none;
    border: none;
}

/* Media queries */
@media (max-width: 970px) {
  .o-container-cards-menu {
      width: 35rem;
      margin-left: 2rem;
  }
}
@media (max-width: 575px) {
  .o-container-cards-menu {
      width: 20rem;
      margin-left: 11rem;
      margin-top: 23rem;
  }
}