.o-sweet-alert {
  position: fixed;
  right: 0;
  width: 22rem;
  top: 13.5vh;
  height: 64px;
  border-radius: 2.9px;
  margin-right: -25rem;
  transition: margin-right 1s ease-in-out;
  display: flex;
  z-index: 2;
}
.o-add {
  background: #00be95;
}
.o-exist {
  background: #003fa2;
}
.o-delete {
  background: #df4957;
}
.o-iconAlert {
  margin-left: 1.1em;
  width: 25px;
}
.o-text-alert-add {
  color: #ffffff;
  opacity: 1;
  margin-top: 1.55em;
  margin-left: 1em;
  font-size: 14px;
}
