.o-container-menu-mylist {
    
    margin-top: 4.5rem;
    padding-bottom: 2rem;
}
.o-title-menu-lists {

    font-size: 17px;
    color: #747B87;
    opacity: 1;
}
.subraya {

    border-bottom: 3px solid #005EA8;
    width: 75px;
    padding-top: 0.65em;
    margin-left: 2.9rem;
}