.o-container-login {
  /* background-color: rgb(238, 25, 238); */
  width: 100%;
  height: 100vh;
}
.o-content-login {
  display: flex;
  justify-content: center;
  width: 100%;
  
}
/* Estilos del fondo en la columna izquierda */
.o-fondo-login {
  background-image: url("../../../assets/images/Login.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  padding: 0;
}
/* Estilos del fondo en el card del login */
.o-fondo-card {
  /* background: #be2121; */
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  /* align-items: center; */
}
/* Estilos de la capa encima de la imagen de fondo del login */
.layer {
  position: absolute;
  background: transparent url("../../../assets/images/layerFondo\ 1.png");
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  opacity: 0.8;
  z-index: 0;
}

.o-logo-login {
  width: 200px;
  opacity: 1;
}
.o-container-logo-login {
  position: absolute;
  /* background-color: turquoise; */
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.o-container-card-login {
  /* background-color: rgb(240, 206, 12); */
  width: 100%;
}
.o-container-loading-login {
  position: absolute;
  /* background-color: aquamarine; */
  width: 100%;
  height: 3rem;
  top: 0;
  /* right: 0; */
  /* margin-bottom: 2rem; */
  /* height: 12rem; */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 1.3rem;
  /* color: aliceblue; */
}

@media only screen and (max-width: 767px) {
  .o-fondo-card {
    background: transparent;
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: flex-end;
    z-index: 0;
  }
  .o-container-logo-login {
    align-items: flex-start;
    z-index: 0;
  }
  .o-logo-login {
    width: 110px;
    margin-top: 10%;
  }
}
