.o-check-container {
  position: absolute;
  background-color: #f7fafc;
  box-shadow: 0 0px 20px -10px rgba(84, 84, 84, 0.62);
  border-radius: 8px !important;
  width: 24rem;
  height: 20rem;
  top: 6rem;
  right: 93%;
  z-index: 2;

  -webkit-animation: slideInUp 2s 1; /* Safari 4+ */
  -moz-animation: slideInUp 2s 1; /* Fx 5+ */
  -o-animation: slideInUp 2s 1; /* Opera 12+ */
  animation: slideInUp 2s 1; /* IE 10+, Fx 29+ */
}
.check-title {
  font-family: "Avenir Next Rounded Pro Medium";
  font-style: normal;
  font-size: 14px;
  line-height: 12px;
  font-weight: 500;
  color: #072857;
}
.check-parrafo {
  font-family: "Avenir Next Rounded Pro Medium";
  font-style: normal;
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  color: #072857;
}
@media (max-width: 768px) {
  .o-check-container {
    position: absolute;
    /* position: sti; */
    width: 100%;
    height: 12rem;
    top: auto;
    bottom: 0;
    left: 0;
  }
  .check-parrafo {
    line-height: 10px;
  }
}
