@font-face {
    font-family: 'Avenir Next Rounded Pro Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Avenir Next Rounded Pro Medium'), url('../src/assets/fonts/Avenir_Next_Rounded_Pro/AvenirNextRoundedProMedium.woff') format('woff');
  }
@font-face {
    font-family: 'Avenir Next Rounded Pro Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Avenir Next Rounded Pro Regular'), url('../src/assets/fonts/Avenir_Next_Rounded_Pro/AvenirNextRoundedProRegular.woff') format('woff');
}
.o-font-medium {
    
    font-family: 'Avenir Next Rounded Pro Medium';
    letter-spacing: 0px;
    opacity: 1;
}
.o-font-regular {
    
    font-family: 'Avenir Next Rounded Pro Regular';
    letter-spacing: 0px;
    opacity: 1;
}