/* Estilos del botón atras */
.o-back {
  position: absolute;
}
.o-icon-back {
  margin-top: 1.8rem;
  margin-left: 2.5rem;
  color: #b4b4b4;
  cursor: pointer;
}
.o-text-back {
  margin-top: 1.7rem;
  margin-left: 0.5rem;
  font-size: 15px;
  color: #b4b4b4;
  cursor: pointer;
}
@media only screen and (max-width: 575px) {
  .o-icon-back {
    margin-left: 1.4rem;
  }
}
