
/* Estilos del texto del footer */
.o-text-derechos-reservados {

    position: absolute;
    bottom: 1.8rem;
    font-size: 12px;
    color: #0E195A;
    z-index: 1;
}
@media only screen and (max-width: 767px) {
    .o-text-derechos-reservados {
      z-index: -1;
    }
  }